<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
	
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Novena- Health & Care Medical template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href={% static "app/conference/images/favicon.ico" %} />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href= {% static "app/conference/plugins/bootstrap/css/bootstrap.min.css" %}>
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="app/conference/plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href={% static "app/conference/plugins/slick-carousel/slick/slick.css" %}>
  <link rel="stylesheet" href={% static "app/conference/plugins/slick-carousel/slick/slick-theme.css" %}>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href={% static "app/conference/css/style.css" %}>
  <link href={% static "app/assets/css/style.css" %} rel="stylesheet">
</head>

<body id="top">
	
<header>
	<header id="header" class="">
		<div class="container d-flex align-items-center">
	
		  <h1 class="logo me-auto"><a href="">HeViCa</a></h1>
		  <!-- Uncomment below if you prefer to use an image logo -->
		  <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
	
		  
	  </header><!-- End Header -->
</header>



<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src={% static "app/conference/images/about/img-1.jpg" %} alt="" class="img-fluid">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Conference </h2>
					<p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

					<a href="{% url 'my_appointment_view'%}" class="btn btn-main-2 btn-round-full btn-icon">Book<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src={% static "app/conference/images/about/img-1.jpg" %} alt="" class="img-fluid">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">U-Shape </h2>
					<p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

					<a href="{% url 'my_appointment_view'%}" class="btn btn-main-2 btn-round-full btn-icon">Book<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src={% static "app/conference/images/about/img-1.jpg" %} alt="" class="img-fluid">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Classroom </h2>
					<p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

					<a href="{% url 'my_appointment_view'%}" class="btn btn-main-2 btn-round-full btn-icon">Book<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src={% static "app/conference/images/about/img-1.jpg" %} alt="" class="img-fluid">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src={% static "app/conference/images/about/img-2.jpg" %} alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Theater </h2>
					<p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

					<a href="{% url 'my_appointment_view'%}" class="btn btn-main-2 btn-round-full btn-icon">Book<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src={% static "app/conference/plugins/jquery/jquery.js" %}></script>
    <!-- Bootstrap 4.3.2 -->
    <script src={% static "app/conference/plugins/bootstrap/js/popper.js" %}></script>
    <script src={% static "app/conference/bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "app/conference/plugins/counterup/jquery.easing.js" %}></script>
    <!-- Slick Slider -->
    <script src={% static "app/conference/plugins/slick-carousel/slick/slick.min.js" %}></script>
    <!-- Counterup -->
    <script src={% static "app/conference/plugins/counterup/jquery.waypoints.min.js" %}></script>
    
    <script src={% static "app/conference/plugins/shuffle/shuffle.min.js" %}></script>
    <script src={% static "app/conference/counterup/jquery.counterup.min.js" %}></script>
    <!-- Google Map -->
    <script src={% static "app/conference/plugins/google-map/map.js" %}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src={% static "app/conference/js/script.js" %}></script>
    <script src={% static "app/conference/js/contact.js" %}></script>

  </body>
  </html>
   